[submodule "nccl-tests"]
	path = nccl-tests
	url = git@github.com:livingshade/nccl-tests.git
[submodule "nccl"]
	path = nccl
	url = git@github.com:livingshade/nccl.git
[submodule "pytorch"]
	path = pytorch
	url = git@github.com:livingshade/pytorch.git
